<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="LAMSoft.ISACFMgr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="LAMSoft.ISACFMgr.Properties.Settings.ISA_Server_LogsConnectionString" connectionString="Data Source=(local);Initial Catalog=ISA_Server_Logs;Persist Security Info=True;User ID=sa;Password=sapass;Application Name=&quot;ISACFMgr Service&quot;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="True" proxyaddress="http://wpad.cf.minaz.cu:8080" bypassonlocal="True"/>
      <bypasslist>
        <add address="[a-z]+\.minaz\.cu"/>
      </bypasslist>
    </defaultProxy>
  </system.net>
  <!-- URL real (Internet): http://www.shallalist.de/Downloads/shallalist.tar.gz -->
  <!-- URL Prueba (Nodo): http://dev-teico.cf.minaz.cu/test-isacfmgr/shallalist.tar.gz -->
  <!-- URL Prueba (local): http://localhost/test-isacfmgr/shallalist.tar.gz -->
  <!-- Otro Ejemplo: http://www.icsharpcode.net/OpenSource/SharpZipLib/DownloadLatestVersion.asp?what=Help -->
  <applicationSettings>
    <LAMSoft.ISACFMgr.Properties.Settings>
      <setting name="downloaderUserAgent" serializeAs="String">
        <value>ISA Categorization &amp; Content Filter Manager/1.0</value>
      </setting>
      <setting name="downloadUri" serializeAs="String">
        <value>http://localhost/test-isacfmgr/shallalist.tar.gz</value>
      </setting>
      <setting name="checkForUpdateInterval" serializeAs="String">
        <value>24:00:00</value>
      </setting>
      <setting name="workingDirFullPath" serializeAs="String">
        <value/>
      </setting>
      <setting name="ISAServerName" serializeAs="String">
        <value>SRV-1</value>
      </setting>
      <setting name="ISAServerUserName" serializeAs="String">
        <value>ISACFMgr</value>
      </setting>
      <setting name="ISAServerUserDomain" serializeAs="String">
        <value/>
      </setting>
      <setting name="ISAServerUserPasswd" serializeAs="String">
        <value>Isaccf-pass</value>
      </setting>
      <setting name="processISARuleElements" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="useSqlTransaction" serializeAs="String">
        <value>False</value>
      </setting>
    </LAMSoft.ISACFMgr.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
